  
.dropList {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
  }

#leftDiv { 
    width: 100%; 
    float: left;
}

#leftDiv-mobile { 
    width: 100%; 
    float: left;
}

.progress {
    display: flex;
    align-items: stretch;
    zoom: 1;
  }

.progressBar {
  height: 40px;
  width: 100%;
  zoom: 1;
 }

 .progressBar .mat-progress-bar {
  height: 20px;
 }

 .push {
    margin-left: auto;
 }

 .list-act {
  width: 30%;
  min-width: 600px;
 }

 .list-act-mobile {
  width: 100%;
 }

 .mat-nav-list >  .mat-list-item:nth-child(2n+1){
  background-color:silver;
 }
 .mat-nav-list >  .mat-list-item:nth-child(2n){
  background-color:gainsboro;
 }

 .mat-nav-list .mat-list-item:hover { 
  background-color: lightyellow;
 }

 .transparent {
    z-index: 0;
 }

 .begin {
      display: flex;
      justify-content: flex-start;
  }

  .end {
      display: flex;
      justify-content: flex-end;
      z-index: 2;
  }

 .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px;
  width: 100%;
  height: 100%;
 }


 .iconActivity {
    height: 30;
    width: 25;
 }